@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        'Open Sans';
    appearance: none;
    -webkit-appearance: none;
}

.wrapper{
    height: 100vh;
    width: 100%;
    min-width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    transition: 0.8s all;
}

h1{
    margin-bottom: 1.5%;
    color: #fff;
    font-weight: 400;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 1.5rem;
    padding: 20px 8px;
    background-color: rgb(20, 19, 19);
    transition: 0.8s;
}

.box:hover{
    transform: scale(1.03);
    filter: drop-shadow(0 0 10px #7a7979c3);
    transition: 0.3s;
}

.container{
    width: 350px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

input {
    padding: 25px;
    color: rgb(255, 255, 255);
    font-size: 1em;
    cursor: pointer;
    width: 70px;
    background-color: rgb(47, 51, 50);
    border: none;
    outline: none;
    border-radius: 100px;
    margin: 0.2em;
}

::placeholder {
    color: rgba(91, 89, 89, 0.501);
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
    margin-bottom: 4px;
}

input[type="text"] {
    background-color: rgb(253, 255, 254);
    color: black;
    width: 222.5px;
    cursor: auto;
}

input[type="button"]:hover {
    background-color: rgb(101, 101, 101);
    color: #fff;
    transform: scale(1.05);
}

#clear-button {
    color: #fff;
    background-color: rgb(255, 42, 42);
    transition: .3s;
}

#clear-button:hover {
    transform: scale(1.1);
}

#evaluate {
    background-color: green;
    transition: .3s;
}

#evaluate:hover {
    transform: scale(1.1);
    transition: .3s;
}

